@import "primeicons/primeicons.css";
@import "tailwindcss";



*{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body{
    background-color: #EFEFEF;
}

/* Make scrollbar track transparent */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Optional: make scrollbar background transparent (whole scrollbar) */
::-webkit-scrollbar {
  background: transparent;
}

/* You can also style the thumb if you want */
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5); /* semi-transparent thumb */
}

::-webkit-scrollbar {
  width: 6px; /* or any value like 8px, 12px */

}

.p-toast{
  overflow-y: hidden;
  
  .p-toast-message-info, .p-toast-message-success, .p-toast-message-warn, .p-toast-message-error, .p-toast-message-secondary, .p-toast-message-contrast{
    overflow-y: hidden!important;
    border-radius: 0!important;
  }
  
  .p-toast-close-button{
    border-radius: 0px!important;
    margin: 0px 15px;
  }

  .p-toast-close-button:focus-visible{
    outline: none!important;
  }
}

.p-paginator{
  .p-paginator-page{
    border-radius: 0!important;
  }
}


.p-dialog{
  border-radius: 0!important;
}

.p-button{
  border-radius: 0!important;
}

.p-button-primary{
  background: #284715!important;
}