<main>
  <div class="flex flex-col space-y-8 p-5">
    <div class="flex flex-col">
      <h1 class="text-3xl font-semibold overflow-hidden">Faculty</h1>
      <p class="text-sm">Manage faculty, add members, and view evaluations.</p>
    </div>

    @if(selected_faculty === null){
    <div class="flex flex-col space-y-5 justify-between items-center w-full">
      <div class="w-full flex justify-between">
        <div class="shadow-md w-[500px] bg-white flex items-center mb-3">
          <input
            (input)="onGlobalFilterChange($event)"
            class="px-3 py-2 outline-none text-sm w-full"
            type="text"
            placeholder="Search keyword"
          />
          <div class="px-3 py-2">
            <i class="pi pi-search"></i>
          </div>
        </div>
        <div class="flex space-x-3">
          <select
            (change)="on_select_sem($event)"
            class="p-2 bg-white shadow-md mb-3 outline-none cursor-pointer"
            name=""
            id=""
          >
            <option value="" disabled selected hidden>-- Select Semester --</option>
            <option value="1">1st Semester</option>
            <option value="2">2nd Semester</option>
          </select>
          <select
            (change)="on_select_sy($event)"
            class="p-2 bg-white shadow-md mb-3 outline-none cursor-pointer"
            name=""
            id=""
          >
            <option value="" disabled selected hidden>-- Select School Year --</option>
            <option value="sy-2025-2026">SY-2025-2026</option>
          </select>
        </div>
      </div>

      <div class="w-full bg-white shadow-md mb-3">
        <div class="w-full">
          <p-table
            #tableRef
            [value]="pagedData"
            dataKey="department_name"
            [rows]="rows"
            [scrollable]="true"
            [scrollHeight]="'320px'"
            class="w-full max-w-screen-lg text-sm text-primary"
          >
            <ng-template #header>
              <tr class="text-left text-xs md:text-sm">
                <th class="w-[5rem] !bg-slate-300"></th>
                <th class="p-5 !bg-slate-300">Department</th>
                <th class="p-5 !bg-slate-300">Evaluation Rating</th>
                <th class="p-5 !bg-slate-300">Feedback Rating</th>
                <th class="p-5 !bg-slate-300">Responses</th>
              </tr>
            </ng-template>

            <ng-template #body let-rowData let-expanded="expanded">
              <tr class="hover:!bg-slate-100 cursor-pointer">
                <td>
                  <div class="flex gap-3">
                    <p-button
                      type="button"
                      pRipple
                      [pRowToggler]="rowData"
                      [text]="true"
                      severity="secondary"
                      [icon]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                      "
                      pTooltip="Expand"
                      tooltipPosition="right"
                      placeholder="Right"
                    />
                    <p-button
                      (onClick)="export_data(rowData)"
                      type="button"
                      pRipple
                      [text]="true"
                      severity="secondary"
                      [icon]="'pi pi-upload'"
                      pTooltip="Export"
                      tooltipPosition="right"
                      placeholder="Right"
                    />
                  </div>
                </td>
                <td>{{ rowData.department_name }}</td>
                <td>{{ rowData.evaluation_rating }}% / 100%</td>
                <td>{{ rowData.feedback_rating }}% / 100%</td>
                <td class="w-36">({{ rowData.total_response }}) response</td>
              </tr>
            </ng-template>
            <ng-template #expandedrow let-rowData>
              <tr>
                <td colspan="5">
                  <div class="p-5 flex flex-col space-y-5">
                    <span class="text-xl text-[#282828]"
                      >{{ rowData.department_name }} Faculty Members</span
                    >
                    <p-table
                      [value]="rowData.department_data"
                      dataKey="_id"
                      [rows]="rows"
                      [scrollable]="true"
                      [scrollHeight]="'320px'"
                      class="w-full text-sm text-primary"
                    >
                      <ng-template #header>
                        <tr class="text-left text-xs md:text-sm">
                          <th class="w-[5rem] p-5 !bg-slate-300"></th>
                          <th class="p-5 !bg-slate-300">Name</th>
                          <th class="p-5 !bg-slate-300">Evaluation Rating</th>
                          <th class="p-5 !bg-slate-300">Feedback Rating</th>
                          <th class="p-5 !bg-slate-300">Responses</th>
                        </tr>
                      </ng-template>

                      <ng-template #body let-subRowData>
                        <tr
                          class="hover:!bg-slate-100 cursor-pointer"
                        >
                          <td>
                            <div class="flex gap-3">
                              <p-button
                                (onClick)="select_faculty(subRowData)"
                                type="button"
                                pRipple
                                [pRowToggler]="rowData"
                                [text]="true"
                                severity="secondary"
                                [icon]="'pi pi-eye'"
                                pTooltip="View"
                                tooltipPosition="right"
                                placeholder="Right"
                              />
                              <p-button
                                (onClick)="temp_select_faculty(subRowData)"
                                type="button"
                                pRipple
                                [pRowToggler]="rowData"
                                [text]="true"
                                severity="secondary"
                                [icon]="'pi pi-users'"
                                pTooltip="Assign Section"
                                tooltipPosition="right"
                                placeholder="Right"
                              />
                            </div>
                          </td>
                          <td>{{ subRowData.name }}</td>
                          <td>
                            {{ subRowData.overall_data.evaluation_rating }}% /
                            100%
                          </td>
                          <td>
                            {{ subRowData.overall_data.feedback_rating }}% /
                            100%
                          </td>
                          <td class="w-36">
                            ({{ subRowData.overall_data.total_response }})
                            response
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="w-full">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="total_records"
            class="text-xs md:text-sm rounded-none mt-2"
          ></p-paginator>
        </div>
      </div>
    </div>
    }@else{
    <div class="flex flex-col space-y-8 mt-5">
      <div class="flex items-center gap-3 text-sm">
        <div
          (click)="back_to_faculty()"
          class="flex items-center px-3 py-2 cursor-pointer group"
        >
          <i class="pi pi-angle-left"></i>
          <span class="group-hover:underline transition-all">Back</span>
        </div>
        <h1 class="text-2xl overflow-hidden">
          {{ selected_faculty.name }}’s Overview
        </h1>
      </div>

      <div class="flex flex-row justify-between gap-3">
        <div class="shadow-md w-full bg-white mb-3">
          <h1 class="text-base !bg-slate-300 p-3">Sentiment Polarity Count</h1>
          <div class="m-5 max-h-[300px] p-3" id="sentiments_barchart"></div>
        </div>
        <div class="shadow-md w-full bg-white max-w-[500px] mb-3">
          <h1 class="text-base !bg-slate-300 p-3">
            Students Participation Score
          </h1>
          <div class="m-5 max-h-[300px] p-3" id="participation_score"></div>
        </div>
      </div>
      <div class="flex flex-row space-x-5 w-full">
        <p-table
          [value]="leaderboard_data"
          dataKey="name"
          [rows]="rows"
          [scrollable]="true"
          [scrollHeight]="'1000px'"
          class="w-full text-sm text-primary"
        >
          <ng-template #header>
            <tr class="text-left text-xs md:text-sm">
              <th class="w-[5rem] !bg-slate-300"></th>
              <th class="p-5 !bg-slate-300">Section Name</th>
              <th class="p-5 !bg-slate-300">Evaluation Rating</th>
              <th class="p-5 !bg-slate-300">Feedback Rating</th>
              <th class="p-5 !bg-slate-300">Responses</th>
            </tr>
          </ng-template>

          <ng-template #body let-rowData let-expanded="expanded">
            <tr
         
              class="hover:!bg-slate-100 cursor-pointer"
            >
              <td>
                <p-button
                  type="button"
                  pRipple
                  [pRowToggler]="rowData"
                  [text]="true"
                  severity="secondary"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                />
              </td>
              <td>{{ rowData.name }}</td>
              <td>{{ rowData.data.evaluation_rating }}% / 100%</td>
              <td>{{ rowData.data.feedback_rating }}% / 100%</td>
              <td class="w-36">({{ rowData.data.total_response }}) response</td>
            </tr>
          </ng-template>
          <ng-template #expandedrow let-rowData>
            <tr>
              <td colspan="5">
                <div class="p-5 flex flex-col space-y-5">
                  <span class="text-base text-[#282828]"
                    >{{ rowData.name }}'s Feedbacks / Comments</span
                  >
                  @if(is_sentiment_data_available(rowData.data)){                
                    <div class="flex flex-row justify-between gap-3 h-max">
                      <div class="shadow-md w-full bg-white mb-3">
                        <h1 class="text-base font-medium !bg-slate-300 p-3">
                          Positve Polarity Feedbacks
                        </h1>
                        <div
                          class="p-3 overflow-auto overflow-x-hidden max-h-[500px]"
                        >
                          @for(data of rowData.data.sentiment_data.positive.feedbacks; track $index){
                          <div
                            class="flex flex-col p-3 border-l-2 border-[#43900C] mt-3"
                          >
                            <p class="w-max-full text-sm italic">
                              "{{ data.message }}"
                            </p>
                            <div class="flex w-full justify-between mt-5">
                              <span class="text-sm text-slate-400"
                                >Anonymous</span
                              >
                              <span class="text-sm text-slate-400">{{
                                data.timestamp
                              }}</span>
                            </div>
                          </div>
                          }
                        </div>
                      </div>
                      <div class="shadow-md w-full bg-white mb-3">
                        <h1 class="text-base font-medium !bg-slate-300 p-3">
                          Neutral Polarity Feedbacks
                        </h1>
                        <div
                          class="p-3 overflow-auto overflow-x-hidden max-h-[500px]"
                        >
                          @for(data of rowData.data.sentiment_data.neutral.feedbacks; track $index){
                          <div
                            class="flex flex-col p-3 border-l-2 border-[#CECECE] mt-3"
                          >
                            <p class="w-max-full text-sm italic">
                              "{{ data.message }}"
                            </p>
                            <div class="flex w-full justify-between mt-5">
                              <span class="text-sm text-slate-400"
                                >Anonymous</span
                              >
                              <span class="text-sm text-slate-400">{{
                                data.timestamp
                              }}</span>
                            </div>
                          </div>
                          }
                        </div>
                      </div>
                      <div class="shadow-md w-full bg-white mb-3">
                        <h1 class="text-base font-medium !bg-slate-300 p-3">
                          Negative Polarity Feedbacks
                        </h1>
                        <div
                          class="p-3 overflow-auto overflow-x-hidden max-h-[500px]"
                        >
                          @for(data of rowData.data.sentiment_data.negative.feedbacks; track $index){
                          <div
                            class="flex flex-col p-3 border-l-2 border-[#DD1111]"
                          >
                            <p class="w-max-full text-sm italic">
                              "{{ data.message }}"
                            </p>
                            <div class="flex w-full justify-between mt-5">
                              <span class="text-sm text-slate-400"
                                >Anonymous</span
                              >
                              <span class="text-sm text-slate-400">{{
                                data.timestamp
                              }}</span>
                            </div>
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    }
  </div>
</main>


<p-dialog
  header="Add Section"
  [modal]="true"
  [(visible)]="add_section_dialog"
  [style]="{ width: '25rem' }"
  class="!rounded-none "
>
  <div class="flex space-x-3 w-full bg-blue-100 text-blue-700 border border-blue-700 p-3 text-sm">
    <p>
      Select section below and click "Save" to add it to the Faculty member
    </p>
  </div>


  <p-multiselect appendTo="body" [options]="available_sections" [(ngModel)]="selected_sections" optionLabel="name" placeholder="--- Select Section ---" class="w-full mt-3" />

<div class="flex justify-end gap-2 mt-5">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="add_section_dialog = false"
    />
    <p-button (onClick)="update_faculty_section()" label="Save" />
  </div>

</p-dialog>